@import './containers.scss';
@import './colors.scss';
@import './fields.scss';
@import './grid';

$home-bg-color: rgba(242, 0, 0, .55);
$black: rgb(0, 0, 0);
$red: #f20101;

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

#home {
  height: 700px;
  background: url('../img/home-bg.jpg') no-repeat center center;
  background-size: cover;
  position: relative;

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $home-bg-color;
  }
}

.carousel {
  .carousel-inner {

  }
  
  .carousel-indicators {
    margin: 0;
  }
}

#service {
  background: $black;
  padding-top: 3rem;
  padding-bottom: 3rem;

  .service-card {
    text-align: center;
    color: $white;
    border: 2px solid $red;
    transition-duration: 1s;
    padding: 20px;
    margin: 0 15px;

    .service-text {
      font-size: .9rem;
      line-height: 1.6rem;
    }

    .service-btn {
      padding: 10px 12px;
      text-transform: uppercase;
      font-weight: 800;
      background: $red;
      color: $white;
      transition-duration: .5s;
      border: 0;
    }

    .service-btn:hover {
      background: $white;
      color: $red;
    }
  }

  .service-card:hover {
    border-color: $white;
  }
}

#team {
  background: url('../img/team-bg.jpg') no-repeat center;
  background-size: cover;
  color: $white;

  .team-card {
    padding-right: 50px;

    .team-text {
      font-size: 1.2rem;
    }

    .social-medias {
      position: relative;
      height: 60px;
      overflow-y: hidden;
      
      .rect {
        width: 100%;
        height: 7px;
      }

      .rect-top {
        width: 100%;
        height: 7px;
        position: relative;
        margin-bottom: 15px;
      }

      .rect-top::after {
        content: ''; 
        position: absolute; /* Абсолютное позиционирование */
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        border: 10px solid transparent; /* Прозрачные границы */
        border-top: 10px solid $red; /* Добавляем треугольник */
      }

      .rect-top.bg-red {
        background: $red;
      }

      .rect-top {
        position: absolute;
        top: 0;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-name: top-animation-revert;
        transform: translateY(0);
      }

      .social-media-list {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
        transform: translateY(50px);
        transition-duration: 1s;

        i {
          padding: 0 7px;
          color: $red;
          transition-duration: .5s;
        }

        a:hover {
          i {
            color: $white;
          }
        }
      }

      .rect-bottom {
        position: absolute;
        bottom: 0;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-name: bottom-animation-revert;
        transform: translateY(50px);      
      }
    }
  }

  .team-card:hover {
    .rect-bottom {
      animation-duration: 1s;
      animation-timing-function: ease;
      animation-name: bottom-animation;
      transform: translateY(0);
    }

    .social-media-list {
      animation-duration: 1s;
      animation-timing-function: ease;
      animation-name: bottom-animation;
      transform: translateY(0);
    }

    .rect-top {
      animation-duration: 1s;
      animation-timing-function: ease;
      animation-name: top-animation;
      transform: translateY(-30px);
    }
  }

  .skill-progress-bar {
    background: $red;
    width: 100%;
    border-radius: 3px;
    height: 12px;
    align-self: center;

    .progress {
      border-radius: 3px 0px 0px 3px;
      height: 100%;
      background: $white;
    }
  }
}

@keyframes bottom-animation {
  0% {
    transform: translateY(50px);
  }
  
  70% {
    transform: translateY(-2px);
  }

  80% {
    transform: translateY(2px);
  }

  90% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes bottom-animation-revert {
  0% {
    transform: translateY(0px);
  }
  
  100% {
    transform: translateY(50px);
  }
}

@keyframes top-animation {
  0% {
    transform: translateY(0px);
  }
  
  100% {
    transform: translateY(-30px);
  }
}

@keyframes top-animation-revert {
  0% {
    transform: translateY(-30px);
  }
  
  70% {
    transform: translateY(2px);
  }

  80% {
    transform: translateY(-2px);
  }

  90% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(0px);
  }
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

.img-fluid {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.fa-bg-red {
  color: $red;
}

.uppercase {
  text-transform: uppercase;
}

.font-weight-ligth {
  font-weight: 300;
}

.font-weight-normal {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 700;
}