@import './containers.scss';
@import './colors.scss';
@import './fields.scss';
@import './grid';
@import './service.scss';
@import './team.scss';
@import './gallery.scss';

$home-bg-color: rgba(242, 0, 0, .55);
$black: rgb(0, 0, 0);
$red: #f20101;

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

#home {
  height: 700px;
  background: url('../img/home-bg.jpg') no-repeat center center;
  background-size: cover;
  position: relative;

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $home-bg-color;
  }
}

.carousel {
  .carousel-inner {

  }
  
  .carousel-indicators {
    margin: 0;
  }
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

.img-fluid {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.fa-bg-red {
  color: $red;
}

.uppercase {
  text-transform: uppercase;
}

.font-weight-ligth {
  font-weight: 300;
}

.font-weight-normal {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}